.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.my-card{
  width: 30%;
  display: block;
  margin: auto;
  margin-top: 2% ;
}

.registerButton{
  display: block !important;
  margin: auto !important;
}
